@import 'tailwindcss';
@plugin '@tailwindcss/typography';
.cell {
	fill: #fff;
}
.cell-border {
	stroke: #000;
}
.cell-selected {
	fill: #fceb8f;
}
.cell-label {
	fill: #000;
}
.cell-letter {
	fill: #000;
}

.highlighted {
	fill: #a7d8ff;
}

.block {
	fill: #000;
	stroke: #666;
}
.cell-border {
	border: #000;
}

.highlighted-clue {
	background-color: #a7d8ff;
}
.dark {
	color: #fff;
	background-color: #121212;
	.cell {
		fill: #2a2a2a;
	}
	.cell-selected {
		/* fill: #5075bf */
		fill: #4277b8;
	}
	.cell-label {
		fill: #bebebe;
	}
	.cell-letter {
		fill: #dedede;
	}

	.highlighted {
		fill: #540d92;
	}
	.block {
		stroke: #000;
	}

	.highlighted-clue {
		background-color: #4277b8;
	}
}
