@import 'tailwindcss';
@plugin '@tailwindcss/typography';
.cell {
	fill: #fff;
}
.cell-border {
	stroke: #000;
}
.cell-selected {
	fill: #fceb8f;
}
.cell-label {
	fill: #000;
}
.cell-letter {
	fill: #000;
}

.correct-letter {
	fill: #4277b8;
}

.highlighted {
	fill: #a7d8ff;
}

.block {
	fill: #000;
	stroke: #666;
}
.cell-border {
	border: #000;
}

.highlighted-clue {
	background-color: #a7d8ff;
}
.toggle {
	background-color: #7cb5fb;
}

.switch {
	&:focus {
		--tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(4px + var(--tw-ring-offset-width))
			var(--tw-ring-color, #7cb5fb);
		box-shadow:
			var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
			var(--tw-ring-shadow), var(--tw-shadow);
	}
}
.dark {
	color: #fff;
	background-color: #121212;
	.cell {
		fill: #2a2a2a;
	}
	.cell-selected {
		/* fill: #5075bf */
		fill: #4277b8;
	}
	.cell-label {
		fill: #bebebe;
	}
	.cell-letter {
		fill: #dedede;
	}

	.correct-letter {
		fill: #a7d8ff;
	}

	.highlighted {
		fill: #540d92;
	}
	.block {
		stroke: #000;
	}

	.highlighted-clue {
		background-color: #4277b8;
	}

	.toggle {
		background-color: black;
	}

	.switch {
		&:focus {
			--tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(4px + var(--tw-ring-offset-width))
				var(--tw-ring-color, #4277b8);
			box-shadow:
				var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
				var(--tw-ring-shadow), var(--tw-shadow);
		}
	}
}
